<nav class="navbar navbar-expand-lg">
    <div class="row container-fluid">
      <div class="col-2">
        <a class="navbar-brand">{{brand}}</a>
      </div>
      <form class="col-8 d-flex buscador"> 
        <input class="form-control me-2" type="search" placeholder='{{placeholder}}' aria-label="Buscar">
        <button class="btn btn-search" type="submit">{{boton}}</button>
      </form>
      <div class="col-2">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <select class="form-select" [(ngModel)]="idiomaSeleccionado" (change)="cambiarIdioma(idiomaSeleccionado,servizo);">
                  <option value="gal">Galego</option>
                  <option value="por">Português</option>
            </select>
          </div>
        </div>
      </div>
    </div>
</nav>
{{idiomaSeleccionado}}

<app-categorias></app-categorias>

<div class="titular">PRODUTOS OFERTADOS</div>
<app-ofertas></app-ofertas>

<div class="titular">PRODUTOS MÁIS VENDIDOS</div> 
<app-mais-vendidos [idiomaNai]="idiomaSeleccionado"></app-mais-vendidos>
