<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Bebas+Neue&family=Inconsolata:wght@200&" rel="stylesheet">
</head>
<body>
    <app-cabeceira></app-cabeceira>
    <app-categorias></app-categorias>

    <div class="titular">{{titulo_ofertas}}</div>
    <app-ofertas></app-ofertas>

    <div class="titular">{{titulo_mais_vendidos}}</div> 
    <app-mais-vendidos></app-mais-vendidos>
</body>
</html>